<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDlwTjJWbDT7_NANO2GZzxveEEjtrUrIFM</string>
	<key>GCM_SENDER_ID</key>
	<string>665157873291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tatsuyafujisaki.poc.dev</string>
	<key>PROJECT_ID</key>
	<string>tatsuyafujisaki-poc-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>tatsuyafujisaki-poc-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:665157873291:ios:4a2f4e0ee5649a4eeb6e8e</string>
</dict>
</plist>